/*----------------------------------------*\
  GLOBAL SETTINGS

  Check the following page for details:
  kanbasu.liip.ch/settings.html
\*----------------------------------------*/

// Use this setting to prefix all the components classes
$namespace:                         '' !default;

/**
 * Typography
 */

$font-size-default:                 16px !default;

/**
 * Spacings
 */

$ratio:                             1.61803398875 !default;

$spacing-unit-default:              24px !default;
$spacing-unit-tiny:                 floor($spacing-unit-default / ($ratio * 2)) !default;
$spacing-unit-small:                floor($spacing-unit-default / $ratio) !default;
$spacing-unit-large:                floor($spacing-unit-default * $ratio) !default;
$spacing-unit-huge:                 floor($spacing-unit-default * ($ratio * 2)) !default;

$spacings:                          (
    'tight' 0,
    'tiny' $spacing-unit-tiny,
    'small' $spacing-unit-small,
    'large' $spacing-unit-large,
    'huge' $spacing-unit-huge
) !default;


/**
 * Responsiveness
 */

// Use EM media-queries for better browser consistency
// See http://zellwk.com/blog/media-query-units
$screen-xs-max:                     640px  / 16px * 1em !default;
$screen-sm-min:                     641px  / 16px * 1em !default;
$screen-sm-max:                     768px  / 16px * 1em !default;
$screen-md-min:                     769px  / 16px * 1em !default;
$screen-md-max:                     1024px / 16px * 1em !default;
$screen-lg-min:                     1025px / 16px * 1em !default;

$mq-xs:                             '(max-width: #{$screen-xs-max})' !default; // DEPRECATED
$mq-sm:                             '(min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})' !default; // DEPRECATED
$mq-md:                             '(min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})' !default; // DEPRECATED
$mq-lg:                             '(min-width: #{$screen-lg-min})' !default; // DEPRECATED

$breakpoints-default:               (
    'sm' '(min-width: #{$screen-sm-min})',
    'md' '(min-width: #{$screen-md-min})',
    'lg' '(min-width: #{$screen-lg-min})'
) !default;
$breakpoints-desc:                  (
    'xs' '(max-width: #{$screen-xs-max})',
    'sm' '(max-width: #{$screen-sm-max})',
    'md' '(max-width: #{$screen-md-max})'
) !default;

/**
 * Grid
 */

$grid-flex:                         false !default;


/**
 * Widths
 */

$widths-columns:                    6,5,4,3,2,1 !default;
$widths-breakpoints:                $breakpoints-default !default;
